
#series{
    width:100%;
    height:300px;
}
#box1{

/*    border-color: black;*/
/*    border-style: solid;*/
/*    border-width: 2px;*/
    width: 300px;
    height: 300px;
}
#box2{

/*
    border-color: black;
    border-style: solid;
    border-width: 2px;
*/
    width: 300px;
    height: 300px;
}
#box3{

/*
    border-color: black;
    border-style: solid;
    border-width: 2px;
*/
    width: 300px;
    height: 300px;
}
#box4{

/*
    border-color: black;
    border-style: solid;
    border-width: 2px;
*/
    width: 300px;
    height: 300px;
}
#text{
    margin-left: 50px;
    text-align: justify;

}
/*
#main{
    width:100%;
    height:100px;
}
*/
.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 1;
    color: #fff;
    background: #000 url("4.jpg") center center;
    width: 100%;
    height: 150%;
    background-size: cover;
    overflow: hidden;
  
  
  position:absolute;
  top:0;left:0;
  z-index:1;
}
.jumbotron {position:relative;padding:50px;}
.jumbotron .container {z-index:2;
 position:relative;
  z-index:2;
}
 .welcome  {
           list-style-type: none;
       }
       
       .welcome li {
           display: inline-block;
           text-align: center;
           padding: 10px;
           margin: 10px;
           margin-left:190px;
       }
.welcome i{
    float:left;
}
       h3{
           float: left;
           margin:10px;
           padding: 10px;
       }
.welcome h6{
    position: relative;
    right:25px;
}
#timing{
    position: relative;
    right:0px;
}
#contact{
    position: relative;
    right:0px;
}
.col-md-3:hover{
    -webkit-transform: scale(0.9);
-ms-transform: scale(0.9);
transform: scale(0.9);
cursor:pointer;

}